.btn-primary {
    padding: 1rem 2rem;
    background-color: var(--Deep-Blue);
    color: #FFF;
    border-radius: .8rem;
    font-size: 1.4rem;
    font-weight: 600;
    
    flex-grow: 0;
    transition: background .3s ease;
}

.btn-primary:hover {
    background: rgba(24, 50, 223, 0.5);
}

.btn-primary.lg {
    padding: 1.4rem 2.4rem;
    border: 2px solid #FFF;
    transition: background .3s ease;
}

.btn-primary.lg:hover {
    background: rgba(0, 0, 0, 0.1);
}

.btn-primary.white.lg {
    background-color: #FFF;
    color: var(--Deep-Blue);
    transition: background .3s ease;
}

.btn-primary.white.lg:hover {
    background: rgba(255, 255, 255, 0.8);
}

.item-sound {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
    border-bottom: 1px solid #EEE;
}

.item-sound p {
    font-size: 1.6rem;
    color: var(--Description-Dark);
}

.item-sound .is-01 {
    display: flex;
    align-items: center;
    gap: 4.7rem;
}

.item-sound .is-01 .is-01-left img {
    max-width: 3.4rem;
}

.item-sound .is-01 .is-01-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-sound .is-01 .is-01-right p {
    font-weight: 500;
    color: var(--Dark-Blue);
}

.item-sound .is-01 .is-01-right span {
    color: var(--Description-Dark);
    font-size: 1.2rem;
    font-weight: 400;
}

.item-sound .is-02 {
    max-width: 23rem;
}

.item-sound .is-04 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.item-sound .is-04 button img {
    max-width: 2.4rem;
}

.sound-category-item {
    position: relative;
    display: inline-block;
}

.sound-category-item img {
    border-radius: 0.8rem;
    display: block;
}

.sound-category-item span {
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
}

.wu-item .wu-item-01 {
    display: flex;
    flex-direction: column;
}

.wu-item .wu-item-01 img {
    max-width: 5.6rem;
    margin-bottom: 2.1rem;
}

.wu-item .wu-item-01 h6 {
    font-size: 1.8rem;
    color: var(--Dark-Blue);
    letter-spacing: -0.9px;
    line-height: 172%
}

.wu-item .wu-item-01 p {
    color: var(--Description-Dark);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 172%;
    max-width: 24.6rem;
}

.testimonials-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 2rem 3rem 2rem;
    border: 1px solid #EEE;
    border-radius: 0.8rem;
    max-width: 30.5rem;
}

.testimonials-item  p {
    text-align: center;
    font-size: 1.4rem;
    color: var(--Description-Dark);
    font-weight: 500;
    line-height: 172%;
}

.testimonials-item .img-quotes {
    max-width: 4rem;
}

.testimonials-item .img-profile {
    max-width: 7rem;
}

.testimonials-item .testimonials-name {
    font-size: 1.8rem;
    color: var(--Dark-Blue);
    font-weight: 600;
    line-height: 172%;
    letter-spacing: -0.9px;
}

.testimonials-item span {
    color: var(--Description-Light);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 172%;
}


@media(max-width: 991px) {

    

}

@media(max-width: 768px) {
    .item-sound .is-02 {
        display: none;
    }

    .item-sound .is-01 {
        gap: 2.8rem;
    }
}

@media(max-width: 560px) {
    
    .item-sound .is-01 {
        gap: 1.4rem;
    }

    .item-sound .is-03 {
        display: none;
    }

    .item-sound .is-04 .is-save {
        display: none;
    }
    
}
