:root {
    --Pure-Black : #000;
    --Dark-Blue : #020D37;
    --Deep-Blue : #0432DF;
    --Blue-Saturation : #CDD6F9;
    --Brave-Yellow : #F59E00;
    --Yellow-Saturation : #FCE2B3;
    --Description-Dark : #4C526A;
    --Blue-Grey : #4F5261;
}