:root {
    --Pure-Black : #000;
    --Dark-Blue : #020D37;
    --Deep-Blue : #0432DF;
    --Blue-Saturation : #CDD6F9;
    --Brave-Yellow : #F59E00;
    --Yellow-Saturation : #FCE2B3;
    --Description-Dark : #4C526A;
    --Description-Light : #ACAFB8;
    --Blue-Grey : #4F5261;
}

header {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    background-color: var(--Dark-Blue);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo img {
    max-width: 11.2rem;
}

header nav {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 3.6rem;
}

header nav ul li:last-child {
    text-transform: uppercase;
}

header nav ul li a {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    color: #FFF;
    letter-spacing: -0.14px;
    transition: opacity .3s ease;
}

header nav ul li a:hover {
    opacity: 0.6;
}


.s-hero {
    padding-top: 9.5rem;
    padding-bottom: 14.7rem;
    background-image: url(/imgs/s-hero-background.svg);
    background-size: cover;
    background-position: center;
}

.s-hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-hero .container h3 {
    color: #EEE;
    line-height: 146.5%;
    letter-spacing: -0.72px;
    margin-bottom: 1.6rem;
}

.s-hero .container P {
    color: var(--Description-Light);
}

.s-hero .container .p-01-hero {
    font-size: 2rem;
    margin-bottom: 5rem;
}

.s-hero .container form {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.s-hero .container form .search-form {
    width: 60rem;
    background-color: #EEE;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.6rem 2rem;
    border-radius: 0.8rem;
}

.s-hero .container form .search-form input {
    font-size: 1.6rem;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
}

.s-hero .container form p {
    font-size: 1.4rem;
}

.s-hero .container p .popular-sounds {
    color: var(--Description-Light);
    text-decoration: underline;
    transition: opacity .3s ease;
}

.s-hero .container p .popular-sounds:hover {
    opacity: 0.6;
}

.s-logo-strip {
    padding-top: 5rem;
    padding-bottom: 6rem;
    background-color: #FAFAFA;
}

.s-logo-strip .container {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.s-logo-strip .container h6 {
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    letter-spacing: -0.4px;
    color: var(--Dark-Blue);
}

.s-logo-strip .container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s-best-se {
    padding-top: 8rem;
    padding-bottom: 6rem;
}

.s-best-se .container h4 {
    margin-bottom: 3rem;
    
}

.s-best-se .container ul {
    margin: 2rem 0;
}

.s-best-se .container a {
    color: var(--Deep-Blue);
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    text-decoration: underline;
}

.s-categories {
    padding: 6rem 0;
}

.s-categories .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.s-categories .container ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.s-categories .container a {
    color: var(--Deep-Blue);
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    text-decoration: underline;
}

.s-why-us {
    padding-top: 6rem;
    padding-bottom: 10rem;
}

.s-why-us .container {
    display: flex;
    justify-content: space-between;
}

.s-why-us .container .why-us-left {
    max-width: 33.7rem;
}

.s-why-us .container .why-us-left p {
    color: var(--Brave-Yellow);
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.s-why-us .container .why-us-right {
    
}

.s-why-us .container .why-us-right ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 11rem;
    row-gap: 5.4rem;
}

.s-why-us .container .why-us-right ul li {
    max-width: 24.6rem;
}


