* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/*font-family: "Poppins", sans-serif;*/

html {
    font-size: 62.5%;
    background-color: #fff;
}

img {
    max-width: 100%;
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}